*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.container{
    width: 100%;
    height: 100%;
    background: #ecbcbc;
    transition: 0.5s;

}
.container.dark{
    background: #000;
}