*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background: #F9FAFB;
}

.container{
    width: 100%;
    height: 100%;
   background: #F9FAFB;
    opacity: 0.6;
    transition: opacity 0.2s ease-in;;

}
.container.content-loaded {
    opacity: 1;
}
.container.dark{
    background: #000;
}