*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background: #F9FAFB;
}

.container{
    width: 100%;
    height: 100%;
   background: #F9FAFB;
    transition: 0.5s;

}
.container.dark{
    background: #000;
}